@model dynamic

@{
    ViewData["Title"] = "Detail";
    string image = Model.Park.ParkCode + ".jpg";

    string weatherImg0 = "";
    if (@Model.Weather[0].Forecast == "rain")
    {
        weatherImg0 = "rain.png";
    }
    else if (@Model.Weather[0].Forecast == "cloudy")
    {
        weatherImg0 = "cloudy.png";
    }
    else if (@Model.Weather[0].Forecast == "partly cloudy")
    {
        weatherImg0 = "partlyCloudy.png";
    }
    else if (@Model.Weather[0].Forecast == "snow")
    {
        weatherImg0 = "snow.png";
    }
    else if (@Model.Weather[0].Forecast == "sunny")
    {
        weatherImg0 = "sunny.png";
    }
    else if (@Model.Weather[0].Forecast == "thunderstorms")
    {
        weatherImg0 = "thunderstorms.png";
    }

    string weatherImg1 = "";
    if (@Model.Weather[1].Forecast == "rain")
    {
        weatherImg1 = "rain.png";
    }
    else if (@Model.Weather[1].Forecast == "cloudy")
    {
        weatherImg1 = "cloudy.png";
    }
    else if (@Model.Weather[1].Forecast == "partly cloudy")
    {
        weatherImg1 = "partlyCloudy.png";
    }
    else if (@Model.Weather[1].Forecast == "snow")
    {
        weatherImg1 = "snow.png";
    }
    else if (@Model.Weather[1].Forecast == "sunny")
    {
        weatherImg1 = "sunny.png";
    }
    else if (@Model.Weather[1].Forecast == "thunderstorms")
    {
        weatherImg1 = "thunderstorms.png";
    }


    string weatherImg2 = "";
    if (@Model.Weather[2].Forecast == "rain")
    {
        weatherImg2 = "rain.png";
    }
    else if (@Model.Weather[2].Forecast == "cloudy")
    {
        weatherImg2 = "cloudy.png";
    }
    else if (@Model.Weather[2].Forecast == "partly cloudy")
    {
        weatherImg2 = "partlyCloudy.png";
    }
    else if (@Model.Weather[2].Forecast == "snow")
    {
        weatherImg2 = "snow.png";
    }

    else if (@Model.Weather[2].Forecast == "sunny")
    {
        weatherImg2 = "sunny.png";
    }
    else if (@Model.Weather[2].Forecast == "thunderstorms")
    {
        weatherImg2 = "thunderstorms.png";
    }


    string weatherImg3 = "";
    if (@Model.Weather[3].Forecast == "rain")
    {
        weatherImg3 = "rain.png";
    }
    else if (@Model.Weather[3].Forecast == "cloudy")
    {
        weatherImg3 = "cloudy.png";
    }
    else if (@Model.Weather[3].Forecast == "partly cloudy")
    {
        weatherImg3 = "partlyCloudy.png";
    }
    else if (@Model.Weather[3].Forecast == "snow")
    {
        weatherImg3 = "snow.png";
    }
    else if (@Model.Weather[3].Forecast == "sunny")
    {
        weatherImg3 = "sunny.png";
    }
    else if (@Model.Weather[3].Forecast == "thunderstorms")
    {
        weatherImg3 = "thunderstorms.png";
    }


    string weatherImg4 = "";
    if (@Model.Weather[4].Forecast == "rain")
    {
        weatherImg4 = "rain.png";
    }
    else if (@Model.Weather[4].Forecast == "cloudy")
    {
        weatherImg4 = "cloudy.png";
    }
    else if (@Model.Weather[4].Forecast == "partly cloudy")
    {
        weatherImg4 = "partlyCloudy.png";
    }
    else if (@Model.Weather[4].Forecast == "snow")
    {
        weatherImg4 = "snow.png";
    }
    else if (@Model.Weather[4].Forecast == "sunny")
    {
        weatherImg4 = "sunny.png";
    }
    else if (@Model.Weather[4].Forecast == "thunderstorms")
    {
        weatherImg4 = "thunderstorms.png";
    }

}

<style>
    body {
        background-color: #edf6f8;
    }

    fullpage {
        font-family: 'Leelawadee UI';
    }

    #welcome {
        font-weight: 600;
        font-size: xx-large;
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "pic pic quote quote" "pic pic info info" "pic pic info info";
    }


    .pic {
        grid-area: pic;
    }

    .quote {
        grid-area: quote;
        font-style: italic;
    }

    .info {
        grid-area: info;
        font-size: larger;
    }

    /*/////////weather///////*/


    .lt-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1.7fr;
        grid-template-areas: "info Weather Weather Weather Weather Weather" "parkinfo day1 day-2 day-3 day-4 day-5";
    }

    .lt-info {
        grid-area: lt-info;
    }

    .lt-parkinfo {
        grid-area: lt-parkinfo;
    }

    .lt-Weather {
        grid-area: lt-Weather;
    }

    .lt-day1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 1fr 1fr;
        grid-template-areas: "day day" "low high" "pic pic" "message message";
        grid-area: lt-day1;
    }

    .lt-day {
        grid-area: lt-day;
    }

    .lt-low {
        grid-area: lt-low;
    }

    .lt-high {
        grid-area: lt-high;
    }

    .lt-pic {
        grid-area: lt-pic;
    }

    .lt-message {
        grid-area: lt-message;
    }

    .lt-day-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "day2 day2" "low2 high2" "pic2 pic2" "message2 message2";
        grid-area: lt-day-2;
    }

    .lt-day2 {
        grid-area: lt-day2;
    }

    .lt-low2 {
        grid-area: lt-low2;
    }

    .lt-high2 {
        grid-area: lt-high2;
    }

    .lt-pic2 {
        grid-area: lt-pic2;
    }

    .lt-message2 {
        grid-area: lt-message2;
    }

    .lt-day-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "day3 day3" "low3 high3" "pic3 pic3" "message3 message3";
        grid-area: lt-day-3;
    }

    .lt-day3 {
        grid-area: lt-day3;
    }

    .lt-low3 {
        grid-area: lt-low3;
    }

    .lt-high3 {
        grid-area: lt-high3;
    }

    .lt-pic3 {
        grid-area: lt-pic3;
    }

    .lt-message3 {
        grid-area: lt-message3;
    }

    .lt-day-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "day4 day4" "low4 high4" "pic4 pic4" "message4 message4";
        grid-area: lt-day-4;
    }

    .lt-day4 {
        grid-area: lt-day4;
    }

    .lt-low4 {
        grid-area: lt-low4;
    }

    .lt-high4 {
        grid-area: lt-high4;
    }

    .lt-pic4 {
        grid-area: lt-pic4;
    }

    .lt-message4 {
        grid-area: lt-message4;
    }

    .lt-day-5 {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "day5 day5" "low5 high5" "pic5 pic5" "message5 message5";
        grid-area: lt-day-5;
    }

    .lt-day5 {
        grid-area: lt-day5;
    }

    .lt-low5 {
        grid-area: lt-low5;
    }

    .lt-high5 {
        grid-area: lt-high5;
    }

    .lt-pic5 {
        grid-area: lt-pic5;
    }

    .lt-message5 {
        grid-area: lt-message5;
    }
<<<<<<< HEAD
=======


/*if (atsign)model.TempSettings == "C"*/

>>>>>>> 8d2e0e83504b9edea3103db57fe3628312faf52b
</style>
<fullpage>


    <h4 id="welcome">Welcome to <i>Beautiful</i> @Model.Park.ParkName!</h4>

    <hr />
    <div class="grid-container">
        <div class="pic"><img id="parkPic" src="~/images/parks/@image" /> </div>
        <div class="quote">
            <p> @Model.Park.InspirationalQuote</p>
            <p id="source">- @Model.Park.InspirationalQuoteSource</p>

        </div>
        <div class="info">@Model.Park.ParkDescription</div>
    </div>

    <hr />



    @*/////////////////////WEATHER BOX///////////////////////////*@

    <div class="grid-container">
        <div>
            <div class="parkinfo">
                <dl class="dl-horizontal">
                    <h2>Info</h2>
                    <dt>
                        State
                    </dt>
                    <dd>
                        @Model.Park.State
                    </dd>
                    <dt>
                        Acreage
                    </dt>
                    <dd>
                        @Model.Park.Acreage
                    </dd>
                    <dt>
                        Elevation (ft)
                    </dt>
                    <dd>
                        @Model.Park.ElevationInFeet
                    </dd>
                    <dt>
                        Miles of Trail
                    </dt>
                    <dd>
                        @Model.Park.MilesOfTrail
                    </dd>
                    <dt>
                        Campsites
                    </dt>
                    <dd>
                        @Model.Park.NumberOfCampsites
                    </dd>
                    <dt>
                        Climate
                    </dt>
                    <dd>
                        @Model.Park.Climate
                    </dd>
                    <dt>
                        Year Founded
                    </dt>
                    <dd>
                        @Model.Park.YearFounded
                    </dd>
                    <dt>
                        Annual Visitors
                    </dt>
                    <dd>
                        @Model.Park.AnnualVisitorCount
                    </dd>

                    <dt>
                        Entry Fee
                    </dt>
                    <dd>
                        @Model.Park.EntryFee)
                    </dd>
                    <dt>
                        Number of Animal Species
                    </dt>
                    <dd>
                        @Model.Park.NumberOfAnimalSpecies)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="Weather"><h2>Weather</h2></div>

        <div class="day1">
            <div class="day">Today!</div>
            <div class="low">Low: @Model.Weather[0].Low</div>
            <div class="high">High: @Model.Weather[0].High</div>
            <div class="pic"><img src="~/images/weather/@weatherImg0" /></div>
            <div class="message"></div>
        </div>
        <div class="day-2">
            <div class="day2"></div>
            <div class="low2"></div>
            <div class="high2"></div>
            <div class="pic2"></div>
            <div class="message2"></div>
        </div>
        <div class="day-3">
            <div class="day3"></div>
            <div class="low3"></div>
            <div class="high3"></div>
            <div class="pic3"></div>
            <div class="message3"></div>
        </div>
        <div class="day-4">
            <div class="day4"></div>
            <div class="low4"></div>
            <div class="high4"></div>
            <div class="pic4"></div>
            <div class="message4"></div>
        </div>
        <div class="day-5">
            <div class="day5"></div>
            <div class="low5"></div>
            <div class="high5"></div>
            <div class="pic5"></div>
            <div class="message5"></div>
        </div>


    </div>





</fullpage>
